* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  min-width: 980px;
  height: 100%;
}

.minji_main {
  width: 100%;
  justify-content: center; /*좌우 정렬*/
  align-items: center; /*위아래 정렬*/
  display: flex;
  flex-direction: row;
}

.minji_main .sub_title {
  color: #ff6f0f;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
}

.reverse {
  flex-direction: row-reverse;
}
.button:hover {
  background-color: gainsboro;
}
a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #e9ecef;
  border-radius: 6px;
  padding: 12px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

p.sub-title {
  color: #ff6f0f;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.minji_main .main_title {
  font-size: 40px;
  line-height: 55px;
  margin: 10px 0px;
}

.minji_main .service_comment {
  color: #7c7c7c;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
p.comment {
  color: #7c7c7c;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.minji_main div.main_buttons {
  margin-top: 30px;
}

.minji_main .main_button {
  font-size: 18px;
  font-weight: 700;
  background-color: #e9ecef;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
  display: inline-block; /*default: block*/
}

.minji_main .main_button:hover {
  background-color: lightgray;
}
.minji_main .main_image {
  width: 655px;
  height: 750px;
}
.list_item {
  margin-right: 5px;
  margin-left: 0px;
  width: 140px;
}

.list_image {
  width: 55px;
}

.title {
  margin: 12px 0px 5px 0px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
}

.comment {
  font-weight: 400;
  font-size: 13px;
  color: #7c7c7c;
  line-height: 17px;
}

.main-title {
  font-size: 40px;
  line-height: 55px;
  margin: 10px 0px;
}

.main-image {
  width: 655px;
  height: 750px;
}

#footer_root {
  border-top: 1px solid lightgray;
  border-top-width: 1px;
}
.list {
  margin-top: 50px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0px;
}
